/*
This has to be included on all sites with sidenav to ensure proper behaviour
*/

footer,
main {
  padding-left: 100px;
}

.sidenav {
  top: 65px;
  width: 250px;
}
.sidenav .divider {
  margin-top: 0;
}

@media only screen and (max-width : 992px) {

  footer,
  header,
  main {
    padding-left: 0;
  }

  .sidenav {
    top: 0;
  }
}
