/*
This can be included instead of sidenav.css for compact sidenav layout
*/

main {
  padding-left: 100px;
}

.nav-wrapper {
  line-height: 56px;
}
.sidenav {
  top: 75px;
  width: 220px;
  height: 728px;
  padding-bottom: 0px;
}
.sidenav li {
  line-height: 30px;
}
.sidenav li a {
  height: 30px;
  line-height: 30px;
}
.sidenav .divider {
  margin-top: 0;
}

@media only screen and (max-width : 992px) {

  footer,
  header,
  main {
    padding-left: 0;
  }

  .sidenav {
    top: 0;
  }
}
