.well-known
myimages
FAIme/counter
cgi
*.png
*.pdf
*.avi
pictures
*.tar
*.tar.gz
*.jpg
*.mp3
*.mp4
fai-cd/*.iso
fai-cd/sha256sums*
download
!download/index.html
videos
logs
pics
fai-guide
fai-guide.text
fai-guide.ps.gz
fai-guide.html
fai-guide-fr
fai-guide-fr.txt
*.odt
*.odg
