*.png
*.pdf
*.avi
pictures
*.tar
*.tar.gz
*.jpg
*.mp3
fai-cd
!fai-cd/index.html
download
videos
!download/index.html
logs
pics
fai-guide
fai-guide.text
fai-guide.ps.gz
fai-guide.html
fai-guide-fr
fai-guide-fr.txt
